asgiref==3.7.2
bleach==6.1.0
Django==4.2.6
django-filter==23.3
django-summernote==0.8.20.0
djangorestframework==3.14.0
drf-yasg==1.21.7
inflection==0.5.1
Markdown==3.5
packaging==23.2
Pillow==10.0.1
psycopg2==2.9.9
pytz==2023.3.post1
PyYAML==6.0.1
six==1.16.0
sqlparse==0.4.4
tzdata==2023.3
uritemplate==4.1.1
webencodings==0.5.1
